<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.breakfastseta.foodcache">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".social.EditSocialPost"></activity>
        <activity android:name=".family.FamilyActivity" />
        <activity android:name=".social.SocialAddPostActivity" />
        <activity android:name=".social.SocialMainActivity" />
        <activity android:name=".recommend.RecommendActivity" />
        <activity android:name=".recipe.viewrecipe.RemoveQuantityActivity" />
        <activity android:name=".recipe.viewrecipe.CookRecipeActivity" />
        <activity android:name=".discover.DiscoverRecipeActivity" />
        <activity android:name=".recipe.addrecipe.AddRecipeActivity" />
        <activity android:name=".recipe.viewrecipe.ViewRecipeActivity" />
        <activity android:name=".recipe.RecipeActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:parentActivityName=".profile.ProfileActivity" />
        <activity android:name=".shoppinglist.EditShoppingIngredient" />
        <activity
            android:name=".shoppinglist.AddShopIngredientActivity"
            android:parentActivityName=".shoppinglist.ShoppingListActivity" />
        <activity
            android:name=".inventory.FoodcacheActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".shoppinglist.ShoppingListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".inventory.EditItem"
            android:parentActivityName=".inventory.FoodcacheActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".inventory.FoodcacheActivity" />
        <activity
            android:name=".inventory.AddIngredientActivity"
            android:parentActivityName=".inventory.FoodcacheActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>